h1, h2 {
    text-align: center;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.section {
    background-color: gainsboro;
    width: 70%;
    margin: auto;
}

.element {
    width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: gray;
    text-align: center;
}

.element--title {
    color: rgb(255, 204, 62);
    font-size: 4rem;
}

.element--img {
    width: 100%;
}

.element--p {
    color: rgb(44, 44, 44);
    font-size: 2rem;
}

.element--a {
    font-size: 3rem;
    color: blue;
}

/* DESIGN CODE */
/* 2 COLUMNS */
/* 2 COLUMNS GRID */
.grid--2columns {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 2rem;
}
/* 2 COLUMNS FLEX */
.flex--2columns {
    display: flex;
    justify-content: space-between; /* not necessary, but good practice */
    gap: 2rem;
}
/* 3 COLUMNS */
/* 3 COLUMNS GRID */
.grid--3columns {
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    gap: 2rem;
}

/* 3 COLUMNS flex */
.flex--3columns {
    display: flex;
    gap: 2rem;
}

/* 3 COLUMNS 1:2:1 */
/* 3 COLUMNS 1:2:1 GRID */
.grid--232columns {
    display: grid;
    grid-template-areas: "left center right"; /* to specify where do you want the main item */
    grid-template-columns: 2fr 3fr 2fr;
    grid-auto-flow: column;
    gap: 2rem;
}

.grid--center { 
    grid-area: center; /* main item */
}
/* 3 COLUMNS 1:2:1 FLEX */ 
.flex--232columns {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex--center {
    flex-basis: 42%;
}

.flex--sides {
    flex-basis: 28%;
}

.flex--sides--left {
    order: -1;
}
/* 3 COLUMNS DROP */
.grid--3columns--drop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid--drop--last {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.flex--3columns--drop {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-wrap: wrap-reverse;
}

.drop--flex--50 {
    flex-basis: calc(50% - 1rem);
}

/* sidebar */
/* sidebar (GRID) */
.grid__sidebar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}
.grid__sidebar--aside {
    grid-column: 2 / 3;
}

.grid__sidebar--main {
    grid-auto-flow: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
/* sidebar (FLEX) */
.flex__sidebar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem
}

/* Next two is the same that 1fr 3fr grid-column */
.flex__sidebar--aside {
    flex: 1; /* adds 1 pixel */
}

.flex__sidebar--main {
    flex: 3; /* adds 3 pixels */
}
/* Layout Shifter */
/* Layout Shifter (GRID) */
.grid--shifter {
    display: grid;
    gap: 2rem;
    grid-template-areas: "t t s"
                        "b b s"
                        "b b s";
                
}

.grid--shifter--sidebar {
    grid-area: s;
}

.grid--shifter--top {
    grid-area: t;
}
.grid--shifter--bottom {
    grid-area: b;
}
/* Layout Shifter (FLEX) */
.flex--shifter {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.flex--shifter--sidebar {
    flex: 0 0 calc(33% - 1rem)
} 
.flex--shifter--main {
    flex: 0 0 calc(66% - 1rem)
}

